/* Background Color */
.darkbrown {
    color : #a6a37f;
}
/* Background Color */
.lightbrown {
    color : #efeec9;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
    background-color: #efeec9;
    color: #a6a37f;
    font-family: 'Merriweather', serif;
  }
/* Top Navigation Font */
.topnav {
    font-family: 'Overlock', cursive;
}
/* Tab Navigation Font */
.tabnav {
    font-family: 'Merriweather', serif;
}

.tabs-transparent {
    border-bottom-color:#a6a37f;
    border-bottom-style: solid;
}

footer {
    border-top-color: #a6a37f;
    border-top-style: solid;
    font-family: 'Overlock', cursive
}

p {
    background-color:white;
    padding-top: 5px;
    padding-right: 15px;
    padding-left: 15px;
}
.navicon {
    height: 30px;
    position: relative;
    top: 10px;
}

.navicon1 {
    height: 34.5px;
    position: relative;
    top: 10px;
}

li:hover {
    cursor: pointer;
}

/* font-family: 'Overlock', cursive;
font-family: 'Gentium Basic', serif;
font-family: 'Merriweather', serif; */